<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" name="" id="" v-model="inputValue">
        <button @click="handleBtnClick">提交</button>
        <ul>
            <todo-item :content="item" v-for="item in list"></todo-item>
        </ul>
    </div>

    <script>
    Vue.component('TodoItem',{
        props:['content'],
        template:'<li>{{content}}</li>'
    })


    let app = new Vue({
        el:'#app',
        data:{
            list:[],
            inputValue:''
        },
        methods:{
            handleBtnClick(){
                this.list.push(this.inputValue)
                this.inputValue = ''
            }
        }
    })
    
    
    </script>
</body>
</html>